img[data-src] {
    filter: blur(2em);
}
img {
    filter: blur(0em);
    transition: filter 1.5s;
    display: block;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 10px;
}
h1{
    text-align:center;
}
