main {
    margin: 0.5em;
    padding: 0.5rem;
    background-color: lightskyblue;
}
#banner {
    display: none;
    align-items: center;
    justify-content: center;
    padding: .5em;
    background-color: skyblue;
    color: bisque;
    font-family:'Asul', sans-serif;
}
header {
    text-align: center;
    background-color: lightseagreen;
    font-family:'Roboto';
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    margin-top: 4%;
}
header img {
    width: 80px;
    height: auto;
    padding: 0.5rem;
    margin: 0;
}
img {            
	max-width: 65%;
    max-height: 100%;
    display: flex;
}
.MonroviaMap{
    max-width: 33%;
    padding-left: 150px;
}
h1 {
    font-size: 2rem;
    margin: auto;
    color: whitesmoke;
    font-family:'Roboto', cursive;
    margin-top: 4%;
    text-align: center;
}
h2, h3 {
    font-family:'Berkshire Swash', cursive;
    color: sandybrown;
    text-align:center;
}
h4, h5 {
    font-family:'Berkshire Swash', cursive;
    color: whitesmoke;
    text-align:center;
}
h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1rem;
}
.motto {
    font-size: 10pt;
    color:#FFCF3D;
    font-family:'Berkshire Swash', cursive;
    text-align:center;
    font-style: italic;
}
p {
    color:#FFCF3D;
    font-size: 1rem;
    font-family:'Asul', sans-serif;
    text-align: center;
}
a {
    color:#FFCF3D;
    font-size: 1.3rem;
    font-family:'Asul', sans-serif;
    text-decoration: none;
    text-align: center;   
}
button {
    background-color: skyblue;
    color:#00F57A;
    font-size: 1rem;
    font-family:'Asul', sans-serif;
}
nav {
	background-color: skyblue;
    font-size: 1rem;
    color:#00F57A;
	text-align: center;
	box-shadow:10px 5px 5px black;
    max-width: 100%;
}
nav button {
    margin: 0.5rem 5%;
    font-size: 1rem;
    background-color:#003E1F;
    color:#00F57A;
    border: none;
    font-family: 'Asul', sans-serif;
}
nav ul.primaryNav {
    display:flex;
}
.active {
    background-color: skyblue;
}
nav ul li a {
    color: whitesmoke;
	display: grid;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
    font-family: 'Asul', sans-serif;
}
nav a:link, nav a:visited {
    color:whitesmoke;
}
nav a:hover {
    background-color: whitesmoke;
    color: skyblue;
}
nav ul {
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.hero {
	margin: 20px;
    width: auto;
    height: auto;
}
.hero-img {
    max-width: 100%;
    max-height: 100%;
    margin: 25px auto;
}
.weathersummary {
	display: grid;
	position: absolute;
    top: 20px;
    left: 10px;
    margin-right: 10px;
    padding: 0.5rem;
    background: radial-gradient lightsalmon;
    border: 2px solid salmon;
    box-shadow: 0 0 30px lightseagreen;
    opacity: .9;
}
.weathersummary h2{
	font-size: 20px;
}
.weathersummary p{
	font-size: 15px;
}
.name {
    grid-column: 1;
    line-height: 100%;
    text-align:center;  
}
.temp {
    grid-column: 2;
    line-height: 100%;
    margin-right: 100px;
    text-align: center; 
}
.flex { 
    display: flex;
    flex-flow: row wrap;
    margin: 50px;
    border: 5px solid salmon;
    padding-left: 150px;
   
    background-color: lightseagreen;
    color: whitesmoke;
}
 .flex-col {
    border: 2px solid salmon;
    text-align: center;
}
 .flex-col:hover {
    background-color:#00F57A;
    color:whitesmoke;
    opacity: 0.75;
}
.col-head {
    display: flex;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    background-color: skyblue;
    color: whitesmoke;
}
.data {
    display: flex;
    padding: 0 10px 10px;
    font-size: 2rem;
    text-align: center;
}
.hot1, .hot2, .hot3, .hot4, .hot5 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    padding: 0.25rem;
} 
.article-container {
    display: flex;
    margin: 10px auto;
    border: 1px solid salmon;
    background-color: lightseagreen;
    padding: 15px;
}
 *{
    box-sizing: border-box;
    padding: 0%;
    line-height: 1.1em;
}
.contact{
	background-color: lightseagreen; 
}
footer {
    background-color: lightseagreen;
    color: whitesmoke;
    padding: 1rem;
    text-align:center;
    margin: 0.5rem;
    max-width: 100%;
    border-radius: 100px;
    border: 2px solid salmon;
}